spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 525294065084-ks81vm8srv72vgcqg277en8h5enedld7.apps.googleusercontent.com
            client-secret: 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